<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <img class="footer-logo" src="/assets/nsf.png" />
      <p>
        Create.Connect, is a new approach to integrating informal-STEM learning
        activities with history-based stories and activities.
      </p>
      <p>
        Create.Connect was developed in partnership with
        <a href="http://www.smm.org">Science Museum of Minnesota</a>
        with support from the National Science Foundation under
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1223770">
          grant number 1223770
        </a>.
      </p>
    </div>

  </div>

</footer>
